.tesco{
    padding: 5px;
    display: inline-block;
    border-left:8px solid blue;
    margin-right: 3px;
    margin-top: 10px;
    width:33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
}
.card-header{
    background-color: #1893AB;
}

#search{
    margin-bottom: 30px;
}
