<div class="container"> 
      <div class= row></div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
    <div class="card">
       <!-- <div class="card-header">
           login </div>-->
       <div class="card-content">
           <div id="onPasswordChange">
       <header >
            <h2 style="text-align:center;">Password Reset</h2>
        </header>
        <hr>
        <form #f="ngForm" (ngSubmit)="onSubmitTemplateBased()">
                        <br>
                        <div class="row">
                                <label>New Password</label>
                                <input type="text" class="form-control"
                                    [(ngModel)]="pass.password" name="password" id="newPassword" >
                        </div>
                        <br>
                        <div class="row">
                                <label>Re-type New Password</label>
                                <input type="text" class="form-control"
                                    [(ngModel)]="pass.confirmPassword" name="confirmPassword" id="confirmPassword">
                        </div>
                        <br>
                        <p id="matchPassword" ></p>
                        <button type="submit">Submit</button>
                    </form>
      </div>
        </div>
    </div>
    </div>
</div>
</div>