<div class="container"> 
      <div class= row></div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
    <div class="card">
       <!-- <div class="card-header">
           login </div>-->
       <div class="card-content">
       <header >
            <h2 style="text-align:center;">Reset Your Password</h2>
        </header>
        <hr>
        <div id="linkSent">
        <form #f="ngForm" ngSubmit="onClickContinue()">
            <h6> How Would You Like to reset your password</h6>
            <br>
            <br>
            <div *ngFor="let recover of recovers">
            <label>
            <div class="row">
                <input type="radio" name="recover" [(ngModel)]="reset.recover" [value]="recover.value">
                {{recover?.display}}
            </div>
            </label>
            </div>
            <br>
            <!--<p>Email: {{found?.email}}</p>
            <p>PhoneNumber: {{found?.phoneNumber}}</p>-->
            <!--<label>
            <div class="row">
                <input type="radio" name="reset" value="phone" [(ngModel)]="reset.type">Text me a code to reset my password
            </div>
            </label>-->
        </form>
      </div>
        </div>
        <div class="card-footer" >
            <div id="onlinksent">
            <button type="submit" (click)="save()" > Continue </button>
            </div>   
        </div>   
    </div>
    </div>
</div>
</div>